player-connection-mode=Listen
player-connection-guid=2258423772
player-connection-debug=0
player-connection-project-name=AR_Project
player-connection-ip=192.168.100.15
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=91223a2e64444b00b573d0544f39c3af
